* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(181, 224, 178);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 0.3125em 0.5em -0.5em rgba(0, 0, 0, 0.75);
}

.header_left img {
  width: 5em;
}

.header_left, .header_right {
  display: flex;
  align-items: center;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 0.625em;
  margin-left: 0.625em;
  border-radius: 2em;
}

.header_input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_middle {
  display: flex;
  list-style-type: none;
  gap: 1em;
  align-items: center;
}

.header_middle li a {
  text-decoration: none;
  color: black;

}

.header_right img {
  border-radius: 100%;
  width: 3.75em;
  height: 3.75em;
  margin-right: 0.625em;
}

.header_right h4 {
  font-size: 1em;
  border-radius: 0.625em;
}

.header_right h4:hover {
  background-color: #eff2f5;
  padding: 0.625em;
}

.main {
  display: flex;
  padding: 1em;
}

.MenuG {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #4A89FF;
}

.MenuGauche {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.625em;
}

.MenuGauche:hover {
  background-color: lightgray;
}

.MenuGauche h4 {
  margin-left: 1.25em;
  font-size: 1.5625em;
}

.Images_And_Bottom {
  flex: 1;
  padding-left: 2em;
}

.Les_Images {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.Mes_images {
  width: 10em;
  height: 20em;
  margin-right: 0.625em;
  margin-top: 2em;
  box-shadow: 0px 0.4em 1em -0.95 rgba(0, 0, 0, 0.75);
  border-radius: 0.625em;
  position: relative;
}

.Mes_images:hover {
  transform: scale(1.50);
}

.image_figure {
  position: relative;
  display: inline-block;
  margin: 0.5em;
}

.caption_overlay {
  position: absolute;
  bottom: 0.5em; 
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2em 0.6em;
  border-radius: 0.5em;
  font-size: 0.90em; 
  color: white;
  white-space: nowrap; 
  text-align: left;
}


.Text_bas {
  width: 80%;
  margin-top: 2em;
  margin-left: 8.5em;
  padding: 0.5em 1em;
  font-size: 1.3125em;
  font-family: cursive;
  color: black;
  border-radius: 1em;
  background-color: rgb(181, 224, 178);;
  text-align: center;
}

.image_bas {
  width: 50%;
  margin-top: 1em;
  margin-left: 20em;
  border-radius: 35%;
  background-color: white;
  box-shadow: 0px 0.4em 0.9em -0.9em rgba(118, 116, 255, 0.75);
  animation: flotte 2s linear infinite;
}

footer {
  background-color: rgb(181, 224, 178);
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

@keyframes flotte {
  0% { transform: translateY(0); }
  25% { transform: translateY(150px); }
  50% { transform: translateY(-120px); }
  75% { transform: translateY(80px); }
  100% { transform: translateY(0); }
}

@media (max-width: 768px) {
  .MenuG {
    display: none;
  }

  .Mes_images {
    width: 5em;
    height: 10em;
  }

  .Text_bas {
    width: 85%;
    font-size: 1em;
    margin-left: 2em;
  }

  .image_bas {
    width: 25%;
    margin-left: 12em;
  }
  figcaption {
  font-size: 0.625em;
}
}


