h1 {
  text-align: right;
  font-size: 25px;
  color: black;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: blue;
}
p {
    text-align: center;
    font-size: 20px;
    color:black;
}

.tags {
  padding: 10px; 
   text-align: center;
}


.tags a {
  text-decoration: none;

  color: black;
  padding: 0 8px; 
  position: relative;
}


.tags a::after {
  content: "|";
  margin-left: 8px;
  color: black;
}


.tags a:last-child::after {
  content: "";
}

footer {
    text-align: center;
    background-color: white;
    padding: 1em;
    margin-top: 2em;
}