.header nav a {
    list-style-type: none;
    display: inline;
    margin-right: 2em;
    text-decoration: none;
    color: #333;
    font-size: 25px;
    margin-left: 100em;
    padding: 0 8px; 
    position: relative;
}
.header nav a:hover {
    color: rgb(212,212,235);
}
.header div {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
}
hr {
    color: red;
}
.section img {
    border-radius: 10px;
}
.section figcaption {
    color: gray;
}